/* add custom styles */
body{
  margin: 0 auto;
}
.center {
  text-align: center;
}
.none {
  list-style: none;
}
.no-padding{
  padding: 0;
}

.half-margin{
  margin-top: 50%;
}

.no-margin{
  margin: 0 auto;
}

.cara{
  height: 500px;
}

footer {
  background-color: #474747;
  color: #fff
}